<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h2>Create New Post</h2>
    <form method="post" action="/posts">
    <div class="post">

        <label for="number">Create ID : </label>
        <input type="number" name="number" id="number"><br><br>
    
        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName"><br><br>
    
        <label for="content">Create Your Post :</label><br><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br><br>
    
        <button>Create Post</button>
    </div>

    </form>
    
</body>
</html>